{% extends "base.html" %}
{% block title %}<title> GoodsDetail </title>{% endblock %}

{% block content %}

<h1>{{ product.title }}</h1>
    {% if icon_url %}
        <img src="{{ icon_url }}" alt="{{ object.title }}" width="400" height="400" />
    {% endif %}
    <p>{{ product.description }}</p>
    <p>Средняя цена товара:  {{ average_price }}  </p>
    <p>Категория: {{ product.category.title }}</p>
    <p>Тэги: {% for tag in product.tags.all %}{{ tag.title }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    <p>Характеристики:</p>
    <ul>
        {% for key, value in product.characters.items %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>
    <h2>Список продавцов и цен:</h2>
    <table>
        <thead>
            <tr>
                <th>Продавец</th>
                <th>Цена</th>
                <th>-</th>
            </tr>
        </thead>
        <tbody>
            {% for offer in offers %}
                <tr>
                    <td>{{ offer.seller.title }}</td>
                    <td>{{ offer.price }}</td>
                    <td><a href="{% url 'pages:offer-purchase' offer.pk %}">Купить</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Нет доступных предложений</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Добавить отзыв:</h2>
    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        <label for="seller">Продавец:</label>
        <select name="seller" id="seller">
          {% for seller in sellers %}
            <option value="{{ seller.id }}">{{ seller.title }}</option>
          {% endfor %}
        </select>

        {{ form.as_p }}

        <button type="submit">Отправить</button>
    </form>
    {% else %}
        <p>Вы должны сначала <a href="{% url 'login' %}">войти,</a> чтобы оставить отзыв.</p>
    {% endif %}

<h2>Отзывы:</h2>
    {% if reviews %}
    <ul>
      {% for review in reviews %}
        <li>
            <p>{{ review.text }}</p>
          <p class="text-muted"> {{ review.user.username }}, {{ review.created_at }} | Seller: {{ review.offer.seller }}</p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Пока нет отзывов</p>
  {% endif %}

{% endblock %}



