{% extends "base.html" %}
{% block title %}<title> GoodsDetail </title>{% endblock %}

{% block content %}

<h1>{{ product.title }}</h1>
    {% if icon_url %}
        <img src="{{ icon_url }}" alt="{{ object.title }}" width="400" height="400" />
    {% endif %}
    <p>{{ product.description }}</p>
    {% if product.discounts%}
        <p>Скидка: {{ percentage_difference|floatformat:1 }} %</p>
        <p>Средняя цена товара: <del style="color: red;"> {{ average_price|floatformat:2 }}</del> {{ average_with_discount|floatformat:2 }} </p>
    {% else %}
        <p> Средняя цена товара: {{ average_with_discount|floatformat:2 }} </p>
    {% endif%}
    <p>Категория: {{ product.category.title }}</p>
    <p>Тэги: {% for tag in product.tags.all %}{{ tag.title }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    <p>Характеристики:</p>
    <ul>
        {% for key, value in product.characters.items %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>
    <h2>Список продавцов и цен:</h2>
    <table>
        <thead>
            <tr>
                <th>Продавец</th>
                <th>Цена без скидки</th>
                <th>Скидка</th>
                <th>Цена со скидкой</th>
                <th>-</th>
            </tr>
        </thead>
        <tbody>
            {% for offer, price_with_discount in offers_combined %}
                <tr>
                    <td>{{ offer.seller.title }}</td>
                    <td>{{ offer.price|floatformat:2 }} $</td>
                    {% if offer.product.discounts and offer.product.discounts.is_percent and offer.product.discounts|yesno:"1,0" == "1" %}
                        <td>{{ offer.product.discounts }} %</td>
                        <td>{{ price_with_discount|floatformat:2 }}</td>
                    {% elif offer.product.discounts %}
                        <td>{{ offer.product.discounts }} $</td>
                        <td>{{ price_with_discount|floatformat:2 }} $</td>
                    {% else %}
                        <td> - </td>
                        <td>{{ offer.price|floatformat:2 }} $</td>
                    {% endif %}
                    <td><a href="{% url 'app_basket:add_to_cart'%}?offer_id={{offer.pk}}">Купить</a></td>
                </tr>
            {% empty %}
            <tr>
                <td colspan="5">Нет доступных предложений</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Добавить отзыв:</h2>
    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        <label for="seller">Продавец:</label>
        <select name="seller" id="seller">
          {% for seller in sellers %}
            <option value="{{ seller.id }}">{{ seller.title }}</option>
          {% endfor %}
        </select>

        {{ form.as_p }}

        <button type="submit">Отправить</button>
    </form>
    {% else %}
        <p>Вы должны сначала <a href="{% url 'app_users:login' %}">войти,</a> чтобы оставить отзыв.</p>
    {% endif %}

<h2>Отзывы:</h2>
<span>Количество отзывов: {{ review_count }}</span>
    {% if reviews %}
    <ul>
      {% for review in reviews %}
        <li>
            <p>
                Рейтинг: {{ review.rating }} / 5 | Продавец: <b>{{ review.offer.seller.title }}</b><br />
                Комментарий: {{ review.text }}<br />
                От <b>{{ review.profile.user.username }}</b>, дата: {{ review.created_at }}
            </p>
        </li> <br />
      {% endfor %}
    </ul>
  {% else %}
    <p>Пока нет отзывов</p>
  {% endif %}

{% endblock %}



