{% extends 'base.html' %}

{% block content %}
    <h2>Восстановление пароля</h2>
    {% if validlink %}
        {% if form.errors %}
            <p>Пожалуйста, исправьте следующие ошибки:</p>
            <ul>
                {% for error in form.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Изменить пароль</button>
        </form>
    {% else %}
        <p>Ссылка недействительна или ее срок действия истек. Попробуйте <a href="{% url 'password_reset' %}">восстановить пароль</a> снова.</p>
    {% endif %}
{% endblock %}
