{% extends 'base_mini.html' %}
{% load i18n %}

{% block main %}
<div class="wrapper">
    <div class="header">
        <h3 class="sign-in">{% trans "Восстановление пароля" %}</h3>
    </div>
        {% if form.errors %}
            <p>{% trans "Пожалуйста, исправьте следующие ошибки" %}:</p>
            <ul>
                {% for error in form.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if email_sent %}
            <p>
                {% trans "Инструкции по восстановлению пароля были отправлены на указанный адрес электронной почты.
                Если вы не получили эти инструкции, проверьте папку "Спам"" %}.
            </p>
        {% else %}
            <h5>
                {% trans "Для восстановления пароля введите адрес электронной почты,
                на которую зарегистрирована учетная запись" %}
            </h5>

        <form method="post">
            {% csrf_token %}
            <div>{{ form.as_p }}</div>
            <div><input type="submit" value='{% trans "Получить проверочный код" %}' /></div>
            <a class="registr" href="{% url 'app_users:login' %}"> {% trans "Вход" %} </a>
            <div class="clear"></div>
        </form>
        {% endif %}
</div>
{% endblock %}
