{% extends 'base.html' %}

{% block content %}
    <h2>Восстановление пароля</h2>
    {% if form.errors %}
        <p>Пожалуйста, исправьте следующие ошибки:</p>
        <ul>
            {% for error in form.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if email_sent %}
        <p>Инструкции по восстановлению пароля были отправлены на указанный адрес электронной почты. Если вы не получили эти инструкции, проверьте папку "Спам".</p>
    {% else %}
        <p>Введите адрес электронной почты, связанный с вашей учетной записью:</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить</button>
    </form>
    {% endif %}
{% endblock %}
