{% extends 'base_mini.html' %}
{% load i18n %}

{% block content %}
<div class="wrapper">
    <div class="header">
        <h3 class="sign-in">{% trans "Восстановление пароля" %}</h3>
        <form method="post">
            {% csrf_token %}
            <div>{{ form.as_p }}</div>
            <div><input type="submit" value='{% trans "Изменить пароль" %}' /></div>
            <a class="registr" href="{% url 'app_users:login' %}"> Вход </a>
            <div class="clear"></div>
        </form>
    </div>
</div>
{% endblock %}
